<div class="container">
  <div class="wish-list-container">
    <div class="wish-list-info">
      <h1>Welcome to your activities wishlist!</h1>
      <p>Find me in app/views/wish_lists/show.html.erb</p>
    </div>

    <div class="event-cards">
      <ul class="tilesWrap">
        <li>
          <h2>01</h2>
          <h3>Aqua-poney</h3>
          <p>Monday, 14th January, 10am to 11am</p>
          <button>Supprimer</button>
        </li>

        <li>
          <h2>01</h2>
          <h3>Aqua-poney</h3>
          <p>Monday, 14th January, 10am to 11am</p>
          <button>Supprimer</button>
        </li>

        <li>
          <h2>01</h2>
          <h3>Aqua-poney</h3>
          <p>Monday, 14th January, 10am to 11am</p>
          <button>Supprimer</button>
        </li>
      </ul>
    </div>

    <a href="" id="btn-gradiant">Ajouter à mon agenda</a>
  </div>
<!-- EACH EVENT -->

</div>
