.container {
  h1 {
    margin: 10px 0px 0px 10px;
  }
}

.container-activities {
  display: flex;
  justify-content: space-around;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 10px;
  flex-grow: 1;
  margin-top: 7px;
}