<!-- Footer -->
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Dévelopement</a></li>
            <li><a href="#">Hébergement</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>A propo</h3>
          <ul>
            <li><a href="#">Compagnie</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Carrières</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Eventpik</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, delectus dolor atque modi quisquam ut amet molestias porro nam sunt quia quasi quod mollitia, officia quas, veniam necessitatibus consequatur? Atque.</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">Eventpik © 2018</p>
    </div>
  </footer>
</div>