<!-- Footer -->
<div class="footer-dark">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 item">
          <h3>Services</h3>
          <ul>
            <li><a href="#">Web design</a></li>
            <li><a href="#">Dévelopement</a></li>
            <li><a href="#">Hébergement</a></li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 item">
          <h3>A propos</h3>
          <ul>
            <li><a href="#">Compagnie</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Carrières</a></li>
          </ul>
        </div>
        <div class="col-md-6 item text">
          <h3>Eventpik</h3>
          <p><i class="fas fa-map-marker-alt"></i> BORDEAUX, CP 33 000, France</p>
          <p><i class="fas fa-envelope"></i> contact@eventpik.xyz</p>
          <p><i class="fas fa-phone"></i> 05 56 25 25 25</p>
          <p><i class="fas fa-fax"></i> 05 56 25 25 26</p>
        </div>
        <div class="col item social">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-snapchat-ghost"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <p class="copyright">Eventpik © 2018</p>
    </div>
  </footer>
</div>