.banner {
  background-image: asset-url('eventpik-bg.svg');
  background-size: cover;
  height: calc(100vh - 100px);
  background-position: bottom;
  display: flex;
  align-items: center;
}

// activities#index BANNER

.banner-gradiant {
  background: linear-gradient(-25deg, #96D8CA, #86B2F3);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .home-form-content {
    background: none;
  }

  #btn-gradiant {
    border: 2px solid rgba(255, 255,255, .7);
    background: none;
  }

  h1 {
    color: white;
    font-size: 40px;
    margin: 0;
    opacity: .9;
  }
}