// pages#home BUTTON
a:hover{
  text-decoration: none;
}

#btn-gradiant {
    padding: 8px 32px;
    border: none;
    border-radius: 25px;
    color: white;
    background: linear-gradient(-25deg, #96D8CA, #86B2F3);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}

// CLOSE WISHLIST BTN

.close-wishlist-btn .far {
  color: $ice-gray;
  font-size: 32px;
}