
a:hover{
  text-decoration: none;
}

#btn-gradiant {
    padding: 8px 32px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(-25deg, #96D8CA, #86B2F3);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
}



.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2a9d8f;
  transition: background 0.3s ease;
  float: right;
  margin: 5px;
}

.btn-flat:hover {
  background: grey;
  color: white;
}

