.container-activities {
  display: flex;
  justify-content: space-around;

  h1 {
    margin-top: 15px;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  padding: 10px;
  flex-grow: 1;

  .card {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    img {
      object-fit: cover;
      margin-top: 10px;
  
    }
    .card-title {
      font: 16px;
      align-items: center;

      p {
          font: 8px;
        }
    }
    .card-body {
    }
  }
}

