// EVENT CALENDAR GENERAL DESIGN
#results1 li, #results2 li {
  cursor: grab;
  background: white;
  list-style: none;
  margin: 8px 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-radius: 10px;

  h2 {
    margin-bottom: 8px;
  }
}

#results1 li:active, #results2 li:active {
  cursor: grabbing;
}

#results1 li.ghost, #results2 li.ghost {
  filter: grayscale(1);
  opacity: 0.5;
}

#results1, #results2 {
  padding: 0;
  margin-top: 4px; 
}

.day-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 32px;

  .day-now {
    font-size: 40px;
    font-weight: bold;
    opacity: .5;
  }

  .month-now {
    font-weight: lighter;
    opacity: .3;
    font-size: 16px;
  }
}

.event-calendar-informations {

  h2 {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: .7;
  }

  .event-calendar-informations {
    font-size: 16px;
    opacity: 0.7;

    .event-calendar-address, .event-calendar-duration {
      display: flex;
      align-items: center;
    }

    p {
      margin: 0;
      margin-left: 8px;
    }

  }
}

.cenlendar-content {
  background: $ice-gray;
  padding: 16px;
  margin: 24px 0;
  border-radius: 10px;

  h1{
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    opacity: .4;
    text-align: center;
    padding: 16px 0;
    margin-top: 4px;
    border-radius: 10px;
    border: 2px dotted lightgrey;
  }
}

.days-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// RESULT (ul) CHILD (li) TARGET FOR SPECIFY DESIGN BORDER LEFT COLOR
#results1 li:nth-child(1n), #results2 li:nth-child(1n) {
  border-left: 8px solid $mint-green;
}

#results1 li:nth-child(2n), #results2 li:nth-child(2n){
  border-left: 8px solid $blue-sky;
}

.days-columns .day-one > h2, .days-columns .day-two > h2 {
  font-weight: lighter;
  opacity: .7;
  letter-spacing: 4px;
  text-align: center;
  padding: 16px 0;
  margin-top: 4px;
  border-radius: 10px;
}

.days-columns .day-one > h2 {
  background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(150,216,202,1) 100%);
}

.days-columns .day-one > h2 {
  background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(150,216,202,1) 100%);
}

.days-columns .day-two > h2 {
  background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 30%, rgba(134,178,243,1) 100%);

}

// IF CALENDAR IS EMPTY
.calendar-empty-message {
  background: rgb(134,178,243);
  background: linear-gradient(90deg, rgba(134,178,243,1) 0%, rgba(150,216,202,1) 100%);
  color: $ice-gray
}
