//FORM HOME PAGE
.home-form-content {
  width: 60%;
  background-color: $ice-gray;
  border-radius: 10px;
  padding: 24px;
}

.banner-gradiant .home-form-content {
  margin: 0 auto
}

.form-input{

  .form-input-location {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
  }

  .form-input-dates {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form-input-dates, .form-input-location {
    grid-gap: 16px;
    margin-bottom: 16px;

    input {
      border-radius: 25px;
      border: 1px solid lightgray;
      height: 32px;
      outline: none;
      padding: 0 16px;
      background-image: none;
    }

    #wish_list_start_at_1i, #wish_list_start_at_2i, #wish_list_start_at_3i {
      border-radius: 25px;
      background-image: none;
    }

    #wish_list_end_at_1i, #wish_list_end_at_2i, #wish_list_end_at_3i {
      border-radius: 25px;
      background-image: none;
    }
  }
}

.form-action #btn-gradiant {
  display: block;
  text-align: center;
  width: 100%;
}

//FORM SESSION & REGISTRATION
.form-login, .form-signup {
  background: white;
  padding: 10px 20px;
  margin: 50px 0;
  border-radius: 10px;
  border: 1px solid lightgrey;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 32px;
    border-radius: 25px;
    color: white;
    background: linear-gradient(-25deg, #96D8CA, #86B2F3);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

.form-container {
  background: linear-gradient(-25deg, #96D8CA, #86B2F3);
  margin: 50px;
}