.card-product {

  .far {
    color: #023047;
    position: absolute;
    font-size: 32px;
    left: 18px;
    top: 24px;

    &:hover {
    color: white;
    }
    
  }

  .fas {
    color: #E7B43F;
  }
}
