.top-navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $mint-green;

  .top-navbar-logo {
    font-size: 16px;
    color: $dark-blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  .top-navbar-menu ul {
    display: flex;
    margin: 0;

    .top-navbar-item {
      display: flex;
      list-style: none;
      margin-left: 24px;
      align-items: center;

      a {
        color: $dark-blue;
        font-size: 16px;

        &:hover {
          border-bottom:2px solid $mint-green;
        }
      }
    }
  }
}