.top-navbar {
  position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}

.top-navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid $mint-green;

  .top-navbar-logo {
    font-size: 16px;
    color: $dark-blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  .top-navbar-menu ul {
    display: flex;
    margin: 0;

    .top-navbar-item {
      display: flex;
      list-style: none;
      margin-left: 24px;
      align-items: center;

      a, p {
        color: $dark-blue;
        font-size: 16px;
        margin: 0%;

        &:hover {
          border-bottom:2px solid $mint-green;
          cursor: pointer;
        }
      }
    }
  }
}


//WISHLIST MENU

.wishlist-content {
  background: linear-gradient(-25deg, #96D8CA, #86B2F3);
  width: 40%;
  height: 100vh;
  z-index: 10;
  position: fixed;
  top: 80;
  right: -40%;
  transition: all 0.75s cubic-bezier(.77,.06,.28,.85);

  .wishlist-menu-top {
    display: flex;
    align-items: center;
    margin: 24px 24px;
    justify-content: space-between;

    h1 {
      color: $ice-gray;
      letter-spacing: 1px;
      margin: 0;
    }

    .wishlist-menu-events-count {
      color: $dark-blue;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-left: 16px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: $ice-gray;
      font-weight: bold;
      font-size: 16px;
    }

    .wishlist-menu-top-right {
      display: flex;
      align-items: center;
    }
  }
}

.wishlist-content-open {
  right: 0;
}